body {
  padding: 0;
  margin: 0;
  background-color: #fff;
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1273px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  width: 100%;
}

.header-nav {
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo #logo {
  width: 70px;
  height: 70px;
}

.nav-logo a {
  color: #000;
  font-size: 30px;
  font-weight: 800;
}

.nav-logo a:hover {
  transition: 0.25s;
  opacity: 0.7;
}

.nav-menu {
  display: flex;
  column-gap: 44px;
}

.nav-menu a {
  font-weight: 800;
  color: #000;
  font-size: 20px;
}

.nav-menu a:hover {
  transition: 0.25s;
  opacity: 0.7;
}

.preview {
  background-image: url(../img/bg1.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.preview-content {
  max-width: 100%;
  display: flex;
  max-height: 1138px;
  flex-direction: column;
  padding-top: 310px;
  padding-bottom: 200px;
}

.preview-title {
  margin: 0 auto;
  text-align: center;
}

.preview-title h1 {
  color: #fff;
  font-size: 65px;
  letter-spacing: 2px;
}

.preview-title p {
  padding-top: 25px;
  color: #fff;
  font-size: 28px;
}

.preview-buttons {
  max-width: 467px;
  display: flex;
  margin: 0 auto;
  padding-top: 108px;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  column-gap: 20px;
}

.preview-buttons #our {
  padding: 25px 32px 25px 32px;
  border: 3px solid;
  color: #fff;
  width: 221px;
  height: 70px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.preview-buttons #hire {
  padding: 25px 32px 25px 32px;
  border: 3px solid;
  color: #fff;
  width: 221px;
  height: 70px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.preview-buttons #our:hover {
  padding: 25px 32px 25px 32px;
  color: #fff;
  background-color: #008a7c;
  width: 221px;
  border: none;
  transition: 0.25s;
}

.preview-buttons #hire:hover {
  padding: 25px 32px 25px 32px;
  color: #fff;
  background-color: #008a7c;
  width: 221px;
  border: none;
  transition: 0.25s;
}

.arrow-4 {
  position: relative;
  cursor: pointer;
  width: 66px;
  margin: 0 auto;
  height: 30px;
  top: 160px;
}

.arrow-4-left {
  position: absolute;
  background-color: transparent;
  top: 10px;
  left: 0;
  width: 40px;
  height: 10px;
  display: block;
  transform: rotate(35deg);
  float: right;
  border-radius: 2px;
}

.arrow-4-left:after {
  content: "";
  background-color: #fff;
  width: 40px;
  height: 10px;
  display: block;
  float: right;
  border-radius: 6px 10px 10px 6px;
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
  z-index: -1;
}

.arrow-4-right {
  position: absolute;
  background-color: transparent;
  top: 10px;
  left: 26px;
  width: 40px;
  height: 10px;
  display: block;
  transform: rotate(-35deg);
  float: right;
  border-radius: 2px;
}

.arrow-4-right:after {
  content: "";
  background-color: #fff;
  width: 40px;
  height: 10px;
  display: block;
  float: right;
  border-radius: 10px 6px 6px 10px;
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
  z-index: -1;
}

.open .arrow-4-left:after {
  transform-origin: center center;
  transform: rotate(-70deg);
}

.open .arrow-4-right:after {
  transform-origin: center center;
  transform: rotate(70deg);
}

.about {
  width: 100%;
}

.about-content {
  padding-top: 125px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 125px;
}

.abot-title {
  display: flex;
  flex-direction: column;
  padding-bottom: 120px;
  text-align: center;
  max-width: 622px;
}

.abot-title h1 {
  padding-bottom: 20px;
}

.about-info {
  display: flex;
  flex-direction: row;
  column-gap: 140px;
}

.about-info p {
  padding-top: 20px;
}

.about-info h1 {
  padding-top: 30px;
}

.item {
  text-align: center;
  max-width: 260px;
}

.services {
  width: 100%;
  margin: 0 auto;
  background-color: #e5fdf9;
}

.services-title {
  display: flex;
  flex-direction: column;
  padding-top: 175px;
  max-width: 622px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 115px;
}

.services-title h1 {
  padding-bottom: 20px;
  font-size: 26px;
}

.services-content {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 35px;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding-bottom: 120px;
}

.services-item {
  display: flex;
  max-width: 370px;
  height: 438px;
  background-color: #fff;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.services-item h2 {
  color: #000;
  padding-top: 23px;
  font-weight: 800;
  font-weight: 800;
}

.services-item p {
  color: #000;
  padding-top: 20px;
  line-height: 26px;
  padding-left: 20px;
  padding-right: 20px;
}

.services-item img {
  filter: contrast(0%);
  filter: invert(100%);
  padding-top: 57px;
}

.services-item a {
  padding: 12px 12px 12px 12px;
  border: 2px solid;
  color: #000;
  letter-spacing: 2px;
  font-weight: 800;
  margin-top: 45px;
}

.services-item a:hover {
  scale: 1.08;
  transition: 0.25s;
}

.services-item:hover {
  transition: 0.25s;
  background-color: #008a7c;
  box-shadow: 0px 4px 11px -1px #000000;
}

.services-item:hover img {
  filter: contrast(100%);
  filter: invert(0%);
}

.services-item:hover h2 {
  color: #fff;
  padding-top: 23px;
  font-weight: 800;
}

.services-item:hover p {
  color: #fff;
  padding-top: 20px;
  line-height: 26px;
  padding-left: 20px;
  padding-right: 20px;
}

.services-item:hover a {
  color: #fff;
  border: 2px solid;
  padding: 12px 12px 12px 12px;
  margin-top: 45px;
  letter-spacing: 2px;
}

.services-item-active {
  display: flex;
  max-width: 370px;
  height: 438px;
  background-color: #008a7c;
  text-align: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 4px 11px -1px #000000;
}

.services-item-active img {
  padding-top: 57px;
}

.services-item-active h2 {
  color: #fff;
  padding-top: 23px;
  font-weight: 800;
}

.services-item-active p {
  color: #fff;
  padding-top: 20px;
  line-height: 26px;
  padding-left: 20px;
  padding-right: 20px;
}

.services-item-active a {
  color: #fff;
  border: 2px solid;
  padding: 12px 12px 12px 12px;
  margin-top: 45px;
  letter-spacing: 2px;
}

.works {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 130px;
}

.works-content {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
  padding-top: 130px;
}

.works-title {
  display: flex;
  flex-direction: column;
  max-width: 624px;
}

.works-title h1 {
  font-size: 31px;
  letter-spacing: 1px;
  font-weight: 800;
}

.works-title p {
  padding-top: 20px;
}

.works-buttons {
  padding-top: 100px;
  display: flex;
  column-gap: 14px;
}

.works-buttons a {
  border: 2px solid;
  border-color: #008a7c;
  padding: 10px 10px 10px 10px;
  letter-spacing: 2px;
  color: #000;
  font-size: 24px;
  font-weight: 800;
  display: flex;
  align-items: center;
}

.works-buttons a:hover {
  background-color: #008a7c;
  color: #fff;
  transition: 0.25s;
}

.works-items {
  padding-top: 118px;
  max-width: 1175px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  row-gap: 30px;
  align-items: center;
  align-content: center;
  column-gap: 30px;
}

.works-item-active {
  position: relative;
}

.works-item-active #item-bg {
  align-content: center;
  justify-content: center;
  display: flex;
  background-color: #000;
}

.works-item-active a:hover h1 {
  display: block;
}

.works-item-active a:hover p {
  display: block;
}

.works-item-active img:hover {
  opacity: 0.4;
  transition: 0.25s;
}

.works-item-active h1 {
  display: none;
  top: 40%;
  position: absolute;
  color: #fff;
}

.works-item-active p {
  display: none;
  color: #fff;
  top: 50%;
  position: absolute;
}

.works-item {
  position: relative;
  display: flex;
}

.works-item #item-bg {
  align-content: center;
  justify-content: center;
  display: flex;
  background-color: #000;
}

.works-item a:hover h1 {
  display: block;
}

.works-item a:hover p {
  display: block;
}

.works-item img:hover {
  opacity: 0.4;
  transition: 0.25s;
}

.works-item h1 {
  display: none;
  top: 40%;
  position: absolute;
  color: #fff;
}

.works-item p {
  display: none;
  color: #fff;
  top: 50%;
  position: absolute;
}

#works-button {
  padding: 10px 10px 10px 10px;
  margin-top: 128px;
}

#works-button a {
  border: 2px solid;
  border-color: #008a7c;
  padding: 20px 40px 20px 40px;
  letter-spacing: 2px;
  color: #000;
  font-size: 24px;
  font-weight: 800;
  display: flex;
  align-items: center;
}

#works-button a:hover {
  background-color: #008a7c;
  color: #fff;
  transition: 0.25s;
}

.pricing {
  width: 100%;
  margin: 0 auto;
  background-color: #f0f1f1;
}

.pricing-title {
  margin: 0 auto;
  padding-top: 125px;
  display: flex;
  flex-direction: column;
  max-width: 620px;
  text-align: center;
  padding-bottom: 120px;
}

.pricing-title h1 {
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: bold;
  padding-bottom: 13px;
}

.pricing-title p {
  padding-top: 20px;
}

.pricing-content {
  padding-top: 40px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  padding-bottom: 153px;
  flex-wrap: wrap;
  column-gap: 30px;
  align-items: center;
  row-gap: 30px;
}

.title-bg {
  background-repeat: no-repeat;
  background-image: url(../img/bg-plan.png);
  background-size: cover;
  height: 210px;
  width: 373px;
}

.pricing-item {
  height: 667px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing-item:hover {
  box-shadow: 0px 4px 11px -4px #000000;
  transition: 0.25s;
}

.item-title {
  position: relative;
  text-align: center;
}

.item-title #dollar {
  position: absolute;
  left: 100px;
  font-size: 25px;
  top: 115px;
}

.item-title #number {
  font-size: 45px;
  color: #fff;
}

.item-title h2 {
  padding-top: 35px;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 300;
}

.item-title p {
  color: #fff;
  padding-top: 40px;
}

.item-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.item-info p {
  text-align: center;
  padding-top: 40px;
}

.item-info hr {
  width: 200px;
  margin-top: 15px;
}

.item-info a {
  border: 2px solid;
  color: #000;
  padding: 10px 15px 10px 15px;
  margin-top: 35px;
  font-weight: 800;
}

.item-info a:hover {
  scale: 1.05;
  transition: 0.25s;
  background-color: #008a7c;
  border: none;
  padding: 10px 15px 10px 15px;
  color: #fff;
}

.team {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 120px;
}

.team-title {
  display: flex;
  flex-direction: column;
  padding-top: 125px;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  max-width: 622px;
  padding-bottom: 127px;
}

.team-title h1 {
  font-size: 30px;
  font-weight: 800;
  text-align: center;
  letter-spacing: 2px;
}

.team-title p {
  padding-top: 20px;
  text-align: center;
}

.team-members {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  align-content: center;
  justify-content: center;
  column-gap: 20px;
  row-gap: 100px;
}

.member {
  margin: 0 auto;
  text-align: center;
}

.member h2 {
  padding-top: 30px;
}

.member p {
  padding-top: 10px;
}

.member-net {
  display: flex;
  justify-content: space-between;
  max-width: 274px;
  align-items: center;
  margin: 0 auto;
  padding-top: 40px;
}

.member-socnet {
  background-color: #f0f1f1;
  padding: 12px 15px 12px 15px;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.member-socnet a {
  padding: 12px 15px 12px 15px;
}

.member-socnet:hover {
  background-color: #3949ab;
  transition: 0.25s;
}

.member-socnet:hover img {
  filter: brightness(0%);
}

.slider-buttons {
  display: flex;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  max-width: 80px;
  height: 20px;
  column-gap: 8px;
  padding-top: 150px;
  justify-content: center;
}

.slider-button {
  background-color: #008a7c;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.blog {
  width: 100%;
  margin: 0 auto;
  background-color: #e4fdf9;
  padding-bottom: 130px;
}

.blog-title {
  padding-top: 120px;
  margin: 0 auto;
  padding-bottom: 120px;
  max-width: 621px;
  text-align: center;
}

.blog-title h1 {
  font-weight: 800;
  font-size: 28px;
  letter-spacing: 2px;
}

.blog-title p {
  padding-top: 24px;
}

.blog-content {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.blog-item {
  display: flex;
  flex-direction: row;
}

.blog-item-info {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-left: 30px;
}

.blog-item-info .date-info {
  display: flex;
  column-gap: 55px;
}

.blog-item-info .date-info img {
  padding-right: 25px;
}

.blog-item-info h1 {
  font-size: 30px;
  letter-spacing: 2px;
}

.blog-item-info h2 {
  padding-top: 20px;
}

.blog-item-info p {
  padding-top: 20px;
}

.blog-item-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.footer {
  width: 100%;
  margin: 0 auto;
  padding-top: 150px;
  background-image: url(../img/footer-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 250px;
}

.footer-title {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 622px;
}

.footer-title h1 {
  color: #fff;
  text-align: center;
}

.footer-title p {
  color: #fff;
  padding-top: 20px;
  text-align: center;
}

.footer-contacts {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  margin-top: 100px;
  column-gap: 78px;
  flex-wrap: wrap;
}

.footer-contacts p {
  color: #fff;
}

.contact-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  align-content: center;
}

.contact-item p {
  padding-top: 25px;
  font-size: 18px;
  letter-spacing: 1.5px;
}

.location {
  border-radius: 50%;
  background-color: #3949ab;
  width: 105px;
  height: 105px;
  text-align: center;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.phone {
  border-radius: 50%;
  background-color: #3949ab;
  width: 105px;
  height: 105px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.message {
  border-radius: 50%;
  background-color: #3949ab;
  width: 105px;
  height: 105px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-wrap: wrap;
  max-width: 1040px;
  max-height: 445px;
  row-gap: 30px;
  column-gap: 30px;
  padding-top: 70px;
  margin: 0 auto;
  justify-content: right;
}

.form #name {
  width: 500px;
  height: 84px;
  border-radius: 12px;
  outline: 0;
  outline-offset: 0;
  padding-left: 10px;
  font-size: 20px;
}

.form #email {
  width: 500px;
  height: 84px;
  border-radius: 12px;
  outline: 0;
  outline-offset: 0;
  padding-left: 10px;
  font-size: 20px;
}

.form #message {
  width: 1031px;
  height: 323px;
  border-radius: 12px;
  outline: 0;
  outline-offset: 0;
  padding-left: 10px;
  font-size: 20px;
  margin-bottom: 15px;
}

.form a {
  color: #000;
  font-weight: bold;
  padding: 12px 52px 12px 52px;
  background-color: #fff;
  border-radius: 12px;
}

.form a:hover {
  background-color: #3949ab;
  transition: 0.25s;
}

.copy {
  margin: 0 auto;
  background-color: #fff;
  height: 60px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.copy p {
  color: #000;
  text-align: center;
  font-weight: 800;
}

@media (max-width: 1190px) {
  .team-members {
    column-gap: 20px;
  }

  .team-members img {
    max-width: 300px;
  }
}

@media (max-width: 1180px) {
  .blog-item #seo {
    width: 470px;
    max-height: 400px;
  }

  .blog-item #working2 {
    width: 470px;
    max-height: 400px;
  }

  .blog-item-reverse #working1 {
    width: 470px;
    max-height: 400px;
  }
}

@media (max-width: 1070px) {
  .form {
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .form #name {
    width: 700px;
  }

  .form #email {
    width: 700px;
  }

  .form #message {
    width: 700px;
    height: 323px;
    border-radius: 12px;
    outline: 0;
    outline-offset: 0;
    padding-left: 10px;
    font-size: 20px;
  }
}

@media (max-width: 980px) {
  .team-members {
    column-gap: 40px;
  }

  .team-members img {
    max-width: 250px;
  }

  .blog-content {
    max-width: 400px;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    row-gap: 120px;
    padding-top: 20px;
  }

  .blog-content .blog-item-reverse {
    flex-direction: column;
  }

  .blog-content .blog-item {
    flex-direction: column;
  }

  .blog-content .blog-item-info {
    align-items: center;
    align-content: center;
    text-align: center;
  }
}

@media (max-width: 900px) {
  .header-nav {
    height: 125px;
  }

  .nav-menu {
    column-gap: 23px;
  }
}

@media (max-width: 895px) {
  .about-info {
    flex-direction: column;
    row-gap: 50px;
  }
}

@media (max-width: 810px) {
  #works-button a {
    margin-top: -70px;
    padding: 10px 20px 10px 20px;
  }
}

@media (max-width: 769px) {
  .footer-contacts {
    row-gap: 30px;
  }

  .footer {
    padding-bottom: 200px;
  }

  .form {
    margin-top: 100px;
  }

  .form #name {
    width: 500px;
  }

  .form #email {
    width: 500px;
  }

  .form #message {
    width: 500px;
  }
}

@media (max-width: 768px) {
  .nav-menu a {
    font-size: 17px;
  }

  .header-nav {
    height: 100px;
  }

  .nav-logo #logo {
    width: 60px;
    height: 60px;
  }

  .nav-menu img {
    width: 15px;
    height: 15px;
  }
}

@media (max-width: 709px) {
  .works-buttons a {
    font-size: 20px;
  }
}

@media (max-width: 680px) {
  .nav-logo #logo {
    width: 50px;
    height: 50px;
  }

  .nav-menu a {
    font-size: 15px;
  }

  .preview-title h1 {
    font-size: 55px;
  }

  .preview-title p {
    font-size: 24px;
    padding-top: 26px;
  }
}

@media (max-width: 631px) {
  .works-buttons a {
    font-size: 17px;
  }
}

@media (max-width: 630px) {
  .team-members {
    column-gap: 50px;
  }
}

@media (max-width: 615px) {
  .nav-logo #logo {
    width: 45px;
    height: 45px;
  }

  .nav-menu a {
    font-size: 15px;
  }

  .header-nav {
    height: 85px;
  }
}

@media (max-width: 600px) {
  .nav-logo #logo {
    display: none;
  }

  .nav-menu a {
    font-size: 15px;
  }

  .nav-menu {
    margin: 0 auto;
  }

  .nav-menu img {
    width: 12px;
    height: 12px;
  }

  .header-nav {
    height: 85px;
  }
}

@media (max-width: 573px) {
  .works-buttons a {
    font-size: 15px;
  }
}

@media (max-width: 569px) {
  .footer {
    padding-bottom: 200px;
  }

  .form #name {
    width: 400px;
  }

  .form #email {
    width: 400px;
  }

  .form #message {
    width: 400px;
  }
}

@media (max-width: 554px) {
  .preview-title h1 {
    font-size: 45px;
  }

  .preview-title p {
    font-size: 22px;
    padding-top: 26px;
  }
}

@media (max-width: 550px) {
  .nav-menu a {
    font-size: 15px;
  }

  .header-nav {
    height: 80px;
  }

  .nav-menu {
    column-gap: 20px;
  }
}

@media (max-width: 510px) {
  .works-buttons {
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    padding-top: 50px;
  }

  .works-buttons a {
    font-size: 17px;
  }
}

@media (max-width: 507px) {
  .preview-buttons {
    flex-direction: column;
    row-gap: 10px;
  }
}

@media (max-width: 497px) {
  .nav-menu a:nth-child(3) {
    display: none;
  }

  .nav-menu a:nth-child(4) {
    display: none;
  }

  .nav-menu {
    column-gap: 35px;
  }

  .preview-content {
    padding-top: 200px;
  }

  .nav-menu img {
    width: 10px;
    height: 10px;
  }

  .header-nav {
    height: 70px;
  }
}

@media (max-width: 480px) {
  .nav-menu {
    column-gap: 30px;
  }
}

@media (max-width: 470px) {
  .blog-item {
    align-items: center;
  }

  .blog-item #seo {
    width: 370px;
    max-height: 400px;
  }

  .blog-item #working2 {
    width: 370px;
    max-height: 400px;
  }

  .blog-item-reverse {
    align-items: center;
  }

  .blog-item-reverse #working1 {
    width: 370px;
    max-height: 400px;
  }

  .blog-item-info {
    max-width: 370px;
  }

  .blog-item-info h1 {
    font-size: 24px;
  }

  .blog-item-info .date-info h2 {
    font-size: 20px;
  }
}

@media (max-width: 452px) {
  .footer-contacts {
    row-gap: 80px;
  }
}

@media (max-width: 447px) {
  .form {
    margin-top: 70px;
  }

  .form #name {
    width: 330px;
  }

  .form #email {
    width: 330px;
  }

  .form #message {
    width: 330px;
  }
}

@media (max-width: 440px) {
  .nav-menu {
    column-gap: 25px;
  }
}

@media (max-width: 401px) {
  .nav-menu {
    column-gap: 20px;
  }
}